/* Variables */
:root {
    --primary-color: #0f1b4c;
}
/* End Variables */
/* Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1110px;
    max-width: 100%;
    max-width: calc(100% - 32px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}
/* End Common */
/* Header */
.header {
    background-color: #e6f0ff;
    padding-top: 38px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    margin-left: 50px;
    display: flex;
}

.navbar ul a {
    position: relative;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
    text-decoration: none;
}

.navbar ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.navbar ul a:hover::after {
    transform: scaleX(1);
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
}

.hero {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.hero .info {
    width: 50.36%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 1.19;
    color: #000336;
    margin-top: 8px;
}

.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    text-transform: capitalize;
    color: #5a6473;
    margin-top: 30px;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
    border-radius: 12px;
}

.hero .image {
    margin-left: 67px;
    width: calc(100% - 50.36% - 67px);
}

.hero .image img {
    display: block;
}
/* End Header */
/* Client */
.clients {
    margin-top: 80px;
    padding: 43px 0;
}

.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .images {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.clients .images img {
    padding: 32px 42px 22px;
    transition: all 0.4s ease-in;
    cursor: pointer;
}

.clients .images img:hover {
    box-shadow: 0px 10px 20px 0px #0000001a;
}
/* End Client */
